/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 jan. 2021, 13:55:00
    Author     : Samuel Local
*/

body{
  background-color: #DFD575;
  font-family: 'Jaldi', sans-serif;
}

h1{
  font-family: 'Jaldi', sans-serif;
  font-size: 120px; 
  font-weight: bold; 
  color: #6D9C52; 
  text-align: center;
}

/* Can be applied to text to get stroke effect */
.stroke{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*Stroke & Shadow*/
.stroke.shad{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 8px #000;
}

.btn.btn-menu{
  background-color: #6D9C52;
  width: 150px;
  font-family: 'Jaldi', sans-serif;
  font-weight: bold;
  box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 8px #000;
}

.btn.btn-menu.purple{
  background-color: #8358A7;
}

/* Countdown background */
.countdown{
  height: 35px;
  background-color: #90C472;
  border-radius: 0px 0px 5px 0px;
  position: relative;
  text-align: center;
  color: white;
}

/* Countdown text */
.countdown p{
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   left: 50%;
   transform: translate(-50%, -50%)    /* 4 */
}

/* Description background*/
.description{
  background-color: #6D9C52;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  text-align: center;
  color: white;
}

/* Drawing area placeholder*/
.draw{
  background-color: #eeeeee;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  text-align: center;
  color: white;
}

.progress {
  border-radius: 0px 0px 0px 5px;
}

#creategame{
  background-color: white;
  width: 30%;
  min-width: 400px;
}

.cgBound{
  min-height: 500px; 
  min-width: 300px;
}

.row {
  --bs-gutter-x: 0;
}

#row2{
  border-top-style: solid;
}

#row1{
  min-height: 360px; 
  height: 360px;
}
