/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 jan. 2021, 13:55:00
    Author     : Samuel Local
*/

body{
  background-color: #DFD575;
  font-family: 'Jaldi', sans-serif;
}

h1{
  font-family: 'Jaldi', sans-serif;
}

/* Can be applied to text to get stroke effect */
.stroke{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}