/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 jan. 2021, 13:55:00
    Author     : Samuel Local
*/
:root {
  --background: #DFD575;
  --front: #6D9C52;
}
body{
  background-color: var(--background);
  font-family: 'Jaldi', sans-serif;
}

h1{
  font-family: 'Jaldi', sans-serif;
  font-size: 120px; 
  font-weight: bold; 
  color: var(--front); 
  text-align: center;
}

/* Can be applied to text to get stroke effect */
.stroke{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*Stroke & Shadow*/
.stroke.shad{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 4px 4px 8px #000;
}

.btn.btn-menu{
  background-color: var(--front);
  width: 150px;
  font-family: 'Jaldi', sans-serif;
  font-weight: bold;
  box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 8px #000;
}

.btn.btn-menu.purple{
  background-color: #8358A7;
  float: right;
}

/* Countdown background */
.countdown{
  height: 35px;
  background-color: #90C472;
  border-radius: 0px 0px 5px 0px;
  position: relative;
  text-align: center;
  color: white;
}

/* Countdown text */
.countdown p{
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   left: 50%;
   transform: translate(-50%, -50%)    /* 4 */
}

/* Description background*/
.description{
  background-color: var(--front);
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  position: relative;
  color: white;
  height: 50px;
}

/* Drawing area placeholder*/
.draw{
  background-color: #eeeeee;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  text-align: center;
  color: white;
}

.progress {
  border-radius: 0px 0px 0px 5px;
}

.result {
  background-color: #4682B4;
  position: relative;
  color: white;
}

.result h3 {
  display: inline-block;
  vertical-align: middle;
}

.result.left {
  border-radius: 5px 0px 0px 0px;
  text-align: left;
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
}

.result.right {
  border-radius: 0px 5px 0px 0px;
  text-align: right;
  padding-right: 10px;
  height: 50px;
  line-height: 50px;
}

.result.bottom {
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  height: 35px;
  line-height: 35px;
}

.row {
  --bs-gutter-x: 0;
}

.cgbound{
  min-height: 500px; 
  min-width: 300px;
  padding: 20px;
  width: 400px;
}
#t1{
  min-height: 450px;
}
.greybox {
  background-color: white;
  height: 60px;
}
.bgGreen{
  background-color: var(--front);
}
.bg-white{
  background-color: white;
}
.pad-10{
  padding: 10px;
}

.mag-30{
  margin-top:  30px;
}

.fright{
  float: right;
  display: inline;
}

.inline{
  display : inline;
}
